#AddHandler application/x-httpd-php73 .php
 
  RewriteEngine on
  RewriteBase /
  RewriteCond %[REQUEST_URI] ^sysconf*
  RewriteRule ^(.*)$ /index.php?/$1 [L]
  RewriteCond %[REQUEST_URI] ^appconf.*
  RewriteRule ^(.*)$ /index.php?/$1 [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php?/$1 [L]

  #RewriteCond %{HTTPS} off
  #RewriteRule ^.*$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


<IfModule pagespeed_module>
ModPagespeed off
</IfModule>

<IfModule !mod_rewrite.c>
ErrorDucument 404/index.php
</IfModule>
